

.divHeader{
  height:95%;
  width: 100%;
  /*opacity: ;*/
  /*border: darkkhaki;*/
  /*z-index: 10;*/

}

::placeholder {
  color: whitesmoke;
  opacity: 0.6;
  letter-spacing: 1px;
}

.navHeader{
  display: flex;
  flex-direction: row;
  height: inherit;
}

.logoDiv{
  width: 35%;
  /*margin: 1.5%;*/
}

.logo{
  display: inherit;
  height: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 2px;
  margin-top: 15px;
  margin-left:70px;
  font-family: Impact, Charcoal, sans-serif;
}


.menu{
  width:64%;
  align-items: center;
}

.searchbar{
  float:left;
  width: 40%;
  height: 3em;
  color: white;
  background-color: rgba(126,173,195,0.96);
  border: 2px solid white;
  border-radius: 20px;
  font-size: 14px;
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: 1px;
  margin-top: 25px;
}


.input-text{
  float:left;
  background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
  background: rgba(126,173,195,0.96);
  width: 88%;
  height: 100%;
  border: none;
  padding: 6px;
  margin-top: 0;
  outline:none;
}

.searchButton{
  float: right;
  font-size: 20px;
  background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
  background: rgba(126,173,195,0.96);
  border: none;
  outline:none;
  /*border-left-color: white;*/
}

.verticalLine{
  font-size: 20px;
}

.fa fa-search{
  /*border: none;*/
  /*border-left: 2px ;*/
  border: none;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.searchButton:hover {
  color: rgba(40, 242, 255, 0.96);
  border: none;
}

.navigations{
  width: 60%;
  float: right;
  display: flex;
  flex-direction: row;
  margin:0;
  justify-content: flex-end;
  padding-top: 35px;
  padding-right: 20px;
}

.navItems{
  display: inline;
  margin-left: 7%;
  color: white;
  background-color: rgba(126,173,195,0.96);
  border: 2px solid white;
  border-radius: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

.navItems:hover{
  display: inline;
  margin-left: 7%;
  color: black;
  background-color: white;
  border: 2px solid rgba(77,155,255,0.96);
  border-radius: 12px;
  padding-left: 20px;
  padding-right: 20px;
}


@media(max-width: 786px) {

  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  nav ul {
    max-height: 0px;
    background: #000;
  }

  nav.black ul {
    background: #000;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }

}
