
.instructions {
  display: flex;
  font-size: 14px;
  color: white;
  justify-content: center;
  padding: 7px 0;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  margin-top: 8px;
}

.forimages{
  width: 100%;
  padding: 1%;
  height: 95%;
  position:relative;
  float:left;
  overflow-y: scroll;
  padding-top: 5%;
}

.imageTile{
}

.loading-text{
  color: white;
}

.image{
  opacity: 2;
  display: inline-block;
  overflow-y: scroll;
  width: 100%;
  height: auto;
  padding: 1%;
}

@media only screen and (max-width: 855px) {



}
