
<!--<div class="position bg-gra-02">-->
<!--    <app-sign-up-component></app-sign-up-component>-->
<!--</div>-->


<!--<svg class="triangle desktop" viewBox="0 0 100 109">-->
<!--    <polygon points="0,0 56,0 100,33 0,109"></polygon>-->
<!--</svg>-->
<!--<svg class="triangle mobile" viewBox="0 0 100 106">-->
<!--    <polygon points="0,0 75,0 100,22 0,106"></polygon>-->
<!--</svg>-->

<!--<img class="logo" [src]="themesService.getThemeVariable('&#45;&#45;logo-desktop')" width="131" />-->

<!--<div class="side-bar">-->
<!--    <ng-content select="[side-bar]"></ng-content>-->
<!--</div>-->


<div class="content" >
    <div class="boxed-content">
        <ng-content></ng-content>
    </div>
    <div class="video-container" >
        <div class="video-overlay"></div>
        <video autoplay loop muted>
            <source src="../../assets/signup_muted_video.mp4">
        </video>
    </div>
</div>
